<div id="alarm-grid" style="height:100%"></div>
<%= ext_datastore_for 'Alarm' %>
<% javascript_tag do -%>
  var alarm_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Data de aviso', dataIndex: 'alarm[alarm_period_warning_id]'},
    {header: 'Ordem', dataIndex: 'alarm[alarm_order_id]'},
    {header: 'Tipo de aviso', dataIndex: 'alarm[warning_type]'}
  ]);
<% end -%>
<%= ext_grid_for 'Alarm', :element => 'alarm-grid', :tabId => params[:tabId], :tabTitle => params[:tabTitle] %>
