<div id="alarm-grid" style="height:100%"></div>
<%#= ext_datastore_for 'Alarm' %>
<script type="text/javascript">
		//<![CDATA[
		var alarm_datastore = new Ext.data.Store({
			proxy: new Ext.data.HttpProxy({
         		url: '/alarms?format=ext_json',
         		method: 'GET'
     		}),
			reader: new Ext.data.JsonReader({
          		root: 'alarms',
          		id: 'id',
          		totalProperty: 'results'
      		},
      		[ {name: 'id', mapping: 'id'}, {name: 'alarm[alarm_period_warning_id]', mapping: 'alarm_period_warning.name'},{name: 'alarm[alarm_order_id]', mapping: 'alarm_order.name'},{name: 'alarm[contract_id]', mapping:'contract.contract'},{name: 'alarm[created_at]', mapping: 'created_at'},{name: 'alarm[updated_at]', mapping: 'updated_at'}]),
      		// turn on remote sorting
      		remoteSort: true,
      		sortInfo: {field: 'id', direction: 'ASC'}
		});
		//]]>
</script>
<% javascript_tag do -%>
  var alarm_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
	{header: 'Contrato', dataIndex: 'alarm[contract_id]'},
    {header: 'Data de aviso', dataIndex: 'alarm[alarm_period_warning_id]'},
    {header: 'Ordem', dataIndex: 'alarm[alarm_order_id]'}
  ]);
<% end -%>

<%= ext_grid_for 'Alarm', :element => 'alarm-grid', :tabId => params[:tabId], :tabTitle => params[:tabTitle] %>
