<div id="center1"></div>
<%= ext_datastore_for 'User' %>
<% javascript_tag do -%>
  var user_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Usuário', dataIndex: 'user[username]'},
    {header: 'Nome', dataIndex: 'user[name]'},
    {header: 'E-mail', dataIndex: 'user[email]'}
  ]);
<% end -%>
<%= ext_grid_for 'User', :element => 'center1' %>

