<div id="indexUsers" style="height:100%"></div>
<%= ext_datastore_for 'User' %>
<% javascript_tag do -%>
  var user_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Name', dataIndex: 'user[name]'},
    {header: 'Email', dataIndex: 'user[email]'},
    {header: 'Username', dataIndex: 'user[username]'},
    {header: 'Password', dataIndex: 'user[password]'}
  ]);
<% end -%>
<%= ext_grid_for 'User', :element => 'indexUsers', :tabId => params[:tabId], :tabTitle => params[:tabTitle] %>



