<div id="clients"></div>
<%= ext_datastore_for 'Client' %>
<% javascript_tag do -%>
  var client_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Nome', dataIndex: 'client[name]'},
    {header: 'Tipo pessoa', dataIndex: 'client[person_type_id]'}
  ]);
<% end -%>
<%= ext_grid_for 'Client', :element => 'clients' %>

