<div id="client-form"></div>
<%= render :partial => 'form_items', :object => :client_form_items %>
<%= ext_form_for 'Client',
				 :title => 'Inserir Cliente/Fornecedor',
                 :element => 'client-form',
                 :form_items => :client_form_items,
                 :mode => :new, 
				 :tabId => params[:tabId], 
				 :tabTitle => params[:tabTitle] %>