<div id="contract_type-grid" style="height:100%"></div>
<%= ext_datastore_for 'ContractType' %>
<% javascript_tag do -%>
  var contract_type_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Documento', dataIndex: 'contract_type[document]'},
    {header: 'Campos', dataIndex: 'contract_type[fields]'}
  ]);
<% end -%>
<%= ext_grid_for 'ContractType', :title => 'Listar Tipo de Contrato', :element => 'contract_type-grid', :tabId => params[:tabId], :tabTitle => params[:tabTitle] %>
