<div id="indexPernsonTypes" style="height:100%"></div>
<%= ext_datastore_for 'PersonType' %>
<% javascript_tag do -%>
  var person_type_column_model = new Ext.grid.ColumnModel([
    {id: 'id', header: "#", width: 20, dataIndex: 'id'},
    {header: 'Name', dataIndex: 'person_type[name]'}
  ]);
<% end -%>
<%= ext_grid_for 'PersonType', :element => 'indexPernsonTypes', :tabId => params[:tabId], :tabTitle => params[:tabTitle] %>
